@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  min-width: 1500px;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.inner {
  position: relative;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}
header {
  height: 110px;
  background-color: #fff;
}
header .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top_logo {
  margin-left: 20px;
}
.gnb {
  display: flex;
  width: 100%;
  margin: 35px 20px 0 90px;
  font-size: 19px;
  justify-content: space-between;
}
.gnb li a {
  color: #000;
}
.top_nav {
  position: absolute;
  display: flex;
  right: 20px;
  top: 0;
  width: 380px;
  height: 30px;
  font-size: 13px;
  justify-content: space-between;
  align-items: flex-end;
}
.top_nav a {
  color: #868e96;
}
